
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    @Styles.Render("~/Content/style.css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/css/Star.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<h2>store</h2>
<div class="row navbar-dark bg-warning ">
    <img src="~/Content/images/indexWide1.jpg" class="img-fluid" alt="Responsive image" max-width 100%; height auto;>
</div>
@*<br /><br /><br /><br /><br />*@

<div class="row">

    <div class="col-md-2">
        <img src="~/Content/images/golden.jpg" class="rounded-circle" style="width: 150px; height: 150px;">
    </div>

    <div class="col-md-5">
        <div class="alert alert-dismissible alert-success" style="height: 150px;">
            <table>
                <tr>
                    <td>
                        <h6>ร้าน ฟาร์มวิเชียร</h6>
                    </td>
                    <td>
                        <h6 align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ที่อยู่ : ม.เทคโนโลยีสุรนารี</h6>
                    </td>
                </tr>
            </table>
            <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
            </div>
            <br /><br />
            <button type="button" class="btn btn-danger">+พูดคุย</button>
            <button type="button" class="btn btn-secondary">จำนวนครั้งที่ซื้อขาย</button>
        </div>
        <div class="alert alert-dismissible alert-success" style="height: 60px;">
            <center>
                @Html.ActionLink("+เพิ่มสินค้า", "MenuAdd", "DataSell", null, new { @class = "btn btn-danger" })
                @Html.ActionLink("อัพเดต", "Updatepic", "DataSell", null, new { @class = "btn btn-warning" })
                @Html.ActionLink("รายการขายสินค้า", "#", "#", null, new { @class = "btn btn-secondary" })
            </center>
        </div>
    </div>
    <div class="col-md-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3855.991089482408!2d102.01850751424153!3d14.881776674115205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311eada1f2cc53f1%3A0x10533e4b3f07a09f!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4LmA4LiX4LiE4LmC4LiZ4LmC4Lil4Lii4Li14Liq4Li44Lij4LiZ4Liy4Lij4Li1!5e0!3m2!1sth!2sth!4v1567927081302!5m2!1sth!2sth" style="width: 500px; height: 350px;" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>

</div>
<head>
    @Styles.Render("~/Content/style.css")
    @Scripts.Render("~/bundles/modernizr")
</head>