
@{
    ViewBag.Title = "resetpassword1";
}
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<br /><br /><br /><br /><br /><br />
@using (Html.BeginForm("resetpassword1", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

<center>
    <div class="container btn btn-light" style="width:450px;height:300px" align="center">

        <br />
        <div class="row">
            <div class="col">
                <label for="staticEmail">ชื่อผู้ใช้งาน</label>
            </div>
            <div class="col">
                <input type="password" class="form-control" id="inputPassword" placeholder="Username" style="width:350px;">
            </div>
        </div>

        <br />
        <div class="row" align="center">
            <div class="col">
                <label for="staticEmail">วันเดือนปีเกิด</label>
            </div>
            <div class="col">
                <input type="date" class="form-control" id="inputPassword" placeholder="Password" style="width:350px;">
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col">
                <label for="staticEmail">เบอร์โทรศัพท์</label>
            </div>
            <div class="col">
                <input type="password" class="form-control" id="inputPassword" placeholder="Tel." style="width:350px;">
            </div>
        </div>

        <br />
        <div class="row btn btn" align="center">
            <form class="form-inline my-5 my-lg-0">
                <br />
                <button class="btn btn-dark my-5 my-sm-0" type="submit" style="width:120px;height:38px" onclick ="return confirm ('Are you sure want to delete blog?')">
                    ยืนยัน
                </button>
                &nbsp;&nbsp;
                <button class="btn btn-dark my-5 my-sm-0" type="submit" style="width:120px;height:38px" onclick ="return confirm ('Are you sure want to delete blog?')">
                    ยกเลิก
                </button>
            </form>
        </div>

    </div>
</center>
}
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</body>
